[submodule "vis/.config/vis/plugins/vis-plug"]
	path = vis/.config/vis/plugins/vis-plug
	url = https://github.com/erf/vis-plug
[submodule "mpv/.config/mpv/scripts/quality-menu"]
	path = mpv/.config/mpv/scripts/quality-menu
	url = https://github.com/christoph-heinrich/mpv-quality-menu
[submodule "mpv/.config/mpv/scripts/evafast"]
	path = mpv/.config/mpv/scripts/evafast
	url = https://github.com/po5/evafast
[submodule "mpv/.config/mpv/scripts/uosc"]
	path = mpv/.config/mpv/scripts/uosc
	url = https://github.com/tomasklaen/uosc
[submodule "mpv/.config/mpv/scripts/thumbfast"]
	path = mpv/.config/mpv/scripts/thumbfast
	url = https://github.com/po5/thumbfast
[submodule "mpv/.config/mpv/scripts/mpv_sponsorblock_minimal"]
	path = mpv/.config/mpv/scripts/mpv_sponsorblock_minimal
	url = https://codeberg.org/jouni/mpv_sponsorblock_minimal
