# VIM swap files
*.swp
home/Link/.pentadactyl/info
home/Link/.irssi/certs/
home/Link/.irssi/scripts/autorun/
home/Link/.irssi/away.log
home/Link/.irssi/config
home/Link/.irssi/remote-control.lnk
home/Link/.irssi/[sS]tartup
home/Link/.irssi/triggers
home/Link/.irssi/_windowlist
home/Link/.mozilla/firefox/
home/Link/.mozilla/extensions
home/Link/.config/ranger/bookmarks
home/Link/.config/ranger/history
home/Link/.config/ranger/tagged
