common/home/user/.config/
common/home/user/.local/
env-win/AppData/Local/SumatraPDF/sumatrapdfcache/
shell/.config/fish/
weechat/**/sec.conf
vim/.config/vim/autoload/plug.vim.old
vim/.config/vim/plugged/
