# VIM swap files
*.swp
home/Link/.pentadactyl/info/Link/
home/Link/.irssi/certs/
home/Link/.irssi/scripts/autorun/
home/Link/.irssi/away.log
home/Link/.irssi/config
home/Link/.irssi/remote-control.lnk
home/Link/.irssi/Startup
home/Link/.irssi/triggers
home/Link/.irssi/_windowlist