[Unit]
Description=Lock X session using slock
Before=suspend.target
 
[Service]
User=Link
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock
 
[Install]
WantedBy=suspend.target
