[Unit]
Description=dwm statusbar

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/Link/.bin/dwmstatus.sh
Restart=always

[Install]
WantedBy=default.target
