[Unit]
Description=dwm statusbar

[Service]
Type=simple
ExecStart=/home/Link/.bin/dwmstatus.sh
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=default.target
