[Unit]
Description=SSH tunnel

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/ssh -F %h/.ssh/config -N tunneler

[Install]
WantedBy=multi-user.target
