[Unit]
Description=Clipmenud

[Service]
Type=simple
ExecStart=/usr/bin/clipmenud
Restart=always
RestartSec=30

[Install]
WantedBy=x11.target
Requisite=x11.target
