[Unit]
Description=Clipmenud
Requisite=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/clipmenud
LimitNPROC=1
Restart=always
RestartSec=30

[Install]
WantedBy=x11.target
