[Unit]
Description=compton
Requisite=x11.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sh -c "%h/.local/bin/trans-exempt.sh createcache"
ExecStart=/usr/bin/compton --config %h/.cache/compton.conf
Restart=always
RestartSec=5

[Install]
WantedBy=x11.target
