[Unit]
Description=Random wallpaper with feh
StartLimitBurst=20

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-max --no-fehbg -z /home/Link/pictures/bg

[Install]
WantedBy=default.target
