[Unit]
Description=Random wallpaper with feh
Requisite=x11.target

[Timer]
OnUnitActiveSec=720
Unit=feh-wallpaper.service

[Install]
WantedBy=x11.target
