[Unit]
Description=Random wallpaper with feh

[Timer]
OnUnitActiveSec=720
Unit=feh-wallpaper.service

[Install]
WantedBy=x11.target
Requisite=x11.target
