[Unit]
Description=Hydrus Server

[Service]
Type=simple
ExecStart=/usr/bin/hydrus-server start
ExecStop=/usr/bin/hydrus-server stop
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
