[Unit]
Description=power manager
Requisite=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/mate-power-manager
Restart=always
RestartSec=5

[Install]
WantedBy=x11.target
