[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
Requisite=x11.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always
RestartSec=30

[Install]
WantedBy=x11.target
