[Unit]
Description=Synergy Client

[Service]
Type=simple
ExecStart=/usr/bin/synergyc --no-daemon --enable-crypto --name Talim %i
Restart=on-failure

[Install]
WantedBy=x11.target
Requisite=x11.target
