[Unit]
Description=SSH tunnel

[Service]
Type=simple
ExecStart=/usr/bin/ssh -F %h/.ssh/config -N tunneler
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
