[Unit]
Description=notify-send connect/disconnect events
Requisite=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/wpa_cli -a %h/local/.bin/fondler.sh
Restart=always
RestartSec=10

[Install]
WantedBy=x11.target
