SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="2[05]", ATTR{status}=="Discharging", RUN+="/usr/local/bin/power_notify low"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="1[05]", ATTR{status}=="Discharging", RUN+="/usr/local/bin/power_notify critical"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="9",     ATTR{status}=="Discharging", RUN+="/usr/local/bin/power_notify suspend"
