SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="2[05]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/fondler.sh low'"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="1[05]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/fondler.sh critical'"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="[0-7]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/fondler.sh suspend'"
