[Unit]
Description=dwm statusbar
Requisite=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c %h/.local/bin/dwmstatus
ExecStop=/usr/bin/xsetroot -name 'dwm 6.1'
Restart=always
RestartSec=30

[Install]
WantedBy=x11.target
