[Unit]
Description=Random wallpaper with feh
StartLimitBurst=20
Requisite=x11.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-max --no-fehbg -z %h/pictures/bg
