[Unit]
Description=SSH irc notifications
Requisite=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c %h/.local/bin/ssh-notify
Restart=always
RestartSec=10

[Install]
WantedBy=x11.target
