[Unit]
Description=sleep.target of a systemd user session
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
# User ID, not name
User=%I
RemainAfterExit=yes
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%I/bus
ExecStart=/usr/bin/systemctl --user start sleep.target
ExecStop=/usr/bin/systemctl --user stop sleep.target

[Install]
WantedBy=sleep.target
