#!/bin/sh

# Appskey = MOD4
xmodmap -e "keycode 135 = Super_L"

# Get the hostname and chassis
read -r host chassis << EOF
	$(hostnamectl status | awk '{ORS=" "} /Chassis:/ {print $2} /Static hostname:/ {print $3}')
EOF

if [ $host = "Saya" ]; then
	# Power button is Insert
	xmodmap -e "keycode 124 = Insert"
	### REMINDER! LEAVE AT LEAST ONE Fkey SO YOU CAN GET TO THE TTY ###
		# These keybindings are isolated within X, so all TTYs are still reachable.
	# Rebind F1 and F2 to PgUP and PgDown
		# not good enough for dvtm
	xmodmap -e "keycode 67 = Page_Up"
	xmodmap -e "keycode 68 = Page_Down"
	# Rebind F6-F10 to work as expected
	xmodmap -e "keycode 72 = XF86MonBrightnessDown"
	xmodmap -e "keycode 73 = XF86MonBrightnessUp"
	xmodmap -e "keycode 74 = XF86AudioMute"
	xmodmap -e "keycode 75 = XF86AudioLowerVolume"
	xmodmap -e "keycode 76 = XF86AudioRaiseVolume"
	# Alt_R = MOD4
	xmodmap -e "remove mod1 = Alt_R"
	xmodmap -e "add mod4 = Alt_R"
elif [ $host = "GIR" ]; then
	# Rotate button keysym
	xmodmap -e "keycode 161 = XF86Display"
elif [ $host = "Talim" ]; then
	# Rotate button keysym
	xmodmap -e "keycode 161 = XF86Display"
elif [ $host = "BOOK" ]; then
	# Alt_R = MOD4
	xmodmap -e "keycode 108 = Super_L"
	xmodmap -e "remove mod1 = Super_L"
	# Appskey = Control_R
	xmodmap -e "keycode 135 = Control_R"
	xmodmap -e "add control = Control_R"
fi

# Startup processes
pactl upload-sample /usr/share/sounds/freedesktop/stereo/bell.oga x11-bell && pactl load-module module-x11-bell sample=x11-bell display=$DISPLAY & # X11 Bell Noise
systemctl --user start x11.target & # Tell services X11 has been started
