/* Sensible row height */
@import url(chrome/compact_extensions_panel.css);
/* Loading overlay */
@import url(chrome/loading_indicator_rotating_image.css);

/* Tridactyl */
tabs {
  counter-reset: tab-counter;
}

.tab-label::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) " - ";
}


/* from https://github.com/Tagggar/Firefox-Alpha------------------------ */
/* and https://github.com/Dook97/firefox-qutebrowser-userchrome--------- */
:root {
	--red: #ff000070;
	--tab-font: 'Jetbrains Mono';
	--urlbar-font: 'Jetbrains Mono';

	/* try increasing if you encounter problems */
	--urlbar-height-setting: 26px;
	--tab-min-height: 26px !important;

	/* I don't recommend you touch this unless you know what you're doing */
	--arrowpanel-menuitem-padding: 2px !important;
	--arrowpanel-border-radius: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--toolbarbutton-border-radius: 0px !important;
	--toolbarbutton-inner-padding: 0px 2px !important;
}

/* --- GENERAL DEBLOAT ---------------------------------- */

/* Bottom left page loading status or url preview */
#statuspanel { display: none !important; }

/* remove radius from right-click popup */
menupopup, panel { --panel-border-radius: 0px !important; }
menu, menuitem, menucaption { border-radius: 0px !important; }

/* no large buttons in right-click menu */
/* menupopup > #context-navigation { display: none !important; } */
/* menupopup > #context-sep-navigation { display: none !important; } */

/* --- DEBLOAT NAVBAR ----------------------------------- */

#back-button { display: none; }
#forward-button { display: none; }
#reload-button { display: none; }
#stop-button { display: none; }
#home-button { display: none; }
#library-button { display: none; }
#fxa-toolbar-menu-button { display: none; }
/* empty space before and after the url bar */
#customizableui-special-spring1, #customizableui-special-spring2 { display: none; }

/* --- STYLE NAVBAR ------------------------------------ */

/* remove padding between toolbar buttons */
toolbar .toolbarbutton-1 { padding: 0 0 !important; }

/* add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
	padding: 0px 4px 0px 0px !important;
}

#urlbar-container {
	--urlbar-container-height: var(--urlbar-height-setting) !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-family: var(--urlbar-font, 'monospace');
	font-size: 11px;
}

#urlbar {
	--urlbar-height: var(--urlbar-height-setting) !important;
	--urlbar-toolbar-height: var(--urlbar-height-setting) !important;
	min-height: var(--urlbar-height-setting) !important;
}

#urlbar-input {
	margin-left: 0.8em !important;
	margin-right: 0.4em !important;
}

#navigator-toolbox {
	border: none !important;
}

/* keep pop-up menus from overlapping with navbar */
#widget-overflow { margin: 0 !important; }
#appMenu-popup { margin: 0 !important; }
#customizationui-widget-panel { margin: 0 !important; }
#unified-extensions-panel { margin: 0 !important; }

/* --- UNIFIED EXTENSIONS BUTTON ------------------------ */

/* make extension icons smaller */
#unified-extensions-view {
	--uei-icon-size: 16px;
}

/* hide bloat */
.unified-extensions-item-message-deck,
#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator,
#unified-extensions-manage-extensions {
	display: none !important;
}

/* add 3px padding on the top and the bottom of the box */
.panel-subview-body {
	padding: 3px 0px !important;
}

#unified-extensions-view .unified-extensions-item-menu-button {
	margin-inline-end: 0 !important;
}

#unified-extensions-view .toolbarbutton-icon {
	padding: 0 !important;
}

.unified-extensions-item-contents {
	line-height: 1 !important;
	white-space: nowrap !important;
}

/* --- DEBLOAT URLBAR ----------------------------------- */

/* #identity-box { display: none; }
#star-button { display: none; }
#tracking-protection-icon-container { display: none !important; }
#pocket-button { display: none; }
#pageActionButton { display: none; }
#reader-mode-button{ display: none !important; }
*/
#urlbar-zoom-button { display: none; }
#pageAction-urlbar-firefoxpwa_filips_si { display: none; }

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button { display: none; }

/* remove container indicator from urlbar */
#userContext-label, #userContext-indicator { display: none !important;}

/* --- STYLE TAB TOOLBAR -------------------------------- */

#titlebar {
	--proton-tab-block-margin: 0px !important;
	--tab-block-margin: 0px !important;
}

#TabsToolbar, .tabbrowser-tab {
	max-height: var(--tab-min-height) !important;
	font-size: 11px !important;
}

tab {
	font-family: var(--tab-font, monospace);
	font-weight: bold;
	border: none !important;
}

/* Tab size rules */
.tabbrowser-tab[fadein]:not([pinned]) {
/* Expand tab width to fill window width */
	max-width: 100vw !important;
/* Shrink tabs no smaller than favicon + number */
	min-width: 5.5vw !important;
	border: none;
}

/* increase width on hover */
tab.tabbrowser-tab:hover:not([pinned]) {
   min-width: 20vw !important;
}

/* increase width for selected */
tab.tabbrowser-tab[selected]:not([pinned]) {
   min-width: 20vw !important;
}

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; }

/* disable favicons in tab */
/* .tab-icon-stack:not([pinned]) { display: none !important; }*/

.tabbrowser-tab {
	/* remove border between tabs */
	padding-inline: 0px !important;
	/* reduce fade effect of tab text */
	--tab-label-mask-size: 0em !important;
	/* fix pinned tab behaviour on overflow */
	overflow-clip-margin: 0px !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
	background: #6699ff !important;
}

/* hide window controls */
.titlebar-buttonbox-container { display: none; }

/* remove titlebar spacers */
.titlebar-spacer { display: none !important; }

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
	margin-inline-start: 0px !important;
}

/* remove dropdown menu button which displays all tabs on overflow */
#alltabs-button { display: none !important }

/* fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
	height: var(--tab-min-height) !important;
}

/* remove overflow scroll buttons */
#scrollbutton-up, #scrollbutton-down { display: none !important; }

/* remove new tab button */
#tabs-newtab-button {
	display: none !important;
}

/* remove additional mystery new tab button that appears in certain contexts */
toolbarbutton#new-tab-button {
	display: none !important;
}

/* hide private browsing indicator */
#private-browsing-indicator-with-label {
	display: none;
}

/* taken from-https://github.com/Tagggar/Firefox-Alpha------------------- */
/* Tabs Audio */
#tabbrowser-tabs .tabbrowser-tab:is([soundplaying]) .tab-background {
  background-color: var(--red) !important;
  transition: background-color 0.1s ease !important;
}
