SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="2[05]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/powerfondler.sh low'"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="1[05]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/powerfondler.sh critical'"
SUBSYSTEM=="power_supply", KERNEL=="BAT0", ATTR{capacity}=="[1-5]", ATTR{status}=="Discharging", RUN+="/usr/bin/su -c - Link '~/.bin/powerfondler.sh sleep'"
