[Unit]
Description=Unlock Wireless
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/home/Link/.bin/unfuck-Talim-wifi.sh

[Install]
WantedBy=multi-user.target
